@font-face {
    font-family: "Torus";
    src: url("https://osu-profile-stats.vercel.app/assets/fonts/Torus-Regular.otf");
}

* {
    font-family: "Torus";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #35272e;
    color: #ffffff;
    text-align: center;
    padding: 0 1rem;
}

main {
    padding: 2rem;
}

.generator {
    max-width: 500px;
    margin: 0 auto;
    background-color: #444;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#card {
    justify-content: center;
}

.generator h1 {
    color: #ff66aa;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.generator h1 a {
    color: #ff66aa;
    text-decoration: none;
}

.generator h1 a:hover {
    color: #fff0f6;
}

.form-group {
    margin: 1rem 0;
    text-align: left;
}

label {
    display: block;
    margin-left: 0.5rem;
    margin-bottom: 0.3rem;
    color: #ff66aa;
    font-size: 0.9rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.4rem 0.4rem;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 0.95rem;
    transition: border-color 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #ff66aa;
    outline: none;
}

textarea {
    height: 80px;
    resize: none;
}

button {
    display: inline-block;
    background-color: #ff66aa;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 1rem;
}

button:hover {
    background-color: #fff0f6;
    color: #35272e;
    transform: translateY(-2px);
}

#preview-image {
    max-width: 100%;
    margin: 1rem 0;
    border: 1px solid #555;
    border-radius: 5px;
    background: #333;
}

.textarea-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

textarea {
    width: 100%;
    background-color: #333;
    color: #fff;
    font-size: 0.85rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}

.textarea-container textarea {
    flex-grow: 1;
    min-width: 0;
}

.copy-btn {
    margin-top: 0;
    height: 2.3rem;
    padding: 0.3rem 0.8rem;
    flex-shrink: 0;
    font-size: 0.7rem;
}

.copy-btn:hover {
    background-color: #fff0f6;
    color: #35272e;
    transform: translateY(-2px);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #35272e;
    color: white;
    font-size: 0.9rem;
    border-top: 1px solid #444;
    margin-top: 2rem;
}

.code-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    margin-top: 0.5rem;
}

.code-block {
    position: relative;
    margin-bottom: 0.5rem;
}

.code-content {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.code-block textarea {
    height: 2.3rem;
    min-width: 0;
    margin: 0;
    font-size: 0.75rem;
    overflow-x: auto;
    white-space: normal;
    word-wrap: break-word;
}

.code-block label {
    text-align: left;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
}

textarea::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

textarea::-webkit-scrollbar-track {
    background: #333;
}

textarea::-webkit-scrollbar-thumb {
    background: #ff66aa;
    border-radius: 3px;
}
